name: product-catalog-ci

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Gitleaks scan
        uses: gitleaks/gitleaks-action@v2

      - name: Upload Gitleaks Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: src/product-catalog/gitleaks-report.txt
        
      - name: Build
        run: |
          cd src/product-catalog
          go mod download
          go build -o product-catalog-service main.go

      - name: Unit tests
        run: |
          cd src/product-catalog
          go test ./...
          
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: squ_df054f57b5aca797d86acd8a545bdbbcefdb433f
          SONAR_HOST_URL: http://44.251.49.62:9000
        with:
          args: >
            -Dsonar.projectKey=product-catalog
            -Dsonar.projectName=product-catalog
            -Dsonar.sources=src/product-catalog
            -Dsonar.language=go
            -Dsonar.go.coverage.reportPaths=coverage.out

      - name: SonarQube Quality Gate
        uses: sonarsource/sonarqube-quality-gate-action@v1
        timeout-minutes: 5
        env:
          SONAR_TOKEN: squ_df054f57b5aca797d86acd8a545bdbbcefdb433f
          SONAR_HOST_URL: http://44.251.49.62:9000

      # -------------------------------
      # Trivy DevSecOps Steps
      # -------------------------------
      - name: Checkout code for Trivy scan
        working-directory: src/product-catalog
        run: |
          trivy fs . \
            --severity HIGH,CRITICAL \
            --format table \
            --output trivy-report.txt \
            --no-progress

      - name: Upload Trivy report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-catalog-report
          path: src/product-catalog/trivy-report.txt


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Buildx builder
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build Docker image
        run: |
          docker build -t product-catalog:1.0 src/product-catalog
      
      - name: Trivy Docker Image Scan
        run: |
          trivy image product-catalog:1.0 \
            --severity HIGH,CRITICAL \
            --format table \
            --output trivy-docker-report.txt \
            --no-progress
      
      - name: Upload Trivy Docker Image report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-catalog-docker-report
          path: trivy-docker-report.txt

      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Debug DockerHub username
        run: |
          echo "Username='${{ secrets.DOCKERHUB_USERNAME }}'"


      - name: Docker Push
        uses: docker/build-push-action@v6
        with:
          context: src/product-catalog
          file: src/product-catalog/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog:${{github.run_id}}
