name: product-catalog-ci

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go 1.22
        uses: actions/setup-go@v5
        with:
          go-version: 1.22

      - name: Build
        run: |
          cd src/product-catalog
          go mod download
          go build -o product-catalog-service main.go

      - name: Unit tests
        run: |
          cd src/product-catalog
          go test ./...

      # -------------------------------
      # Trivy DevSecOps Steps
      # -------------------------------
      - name: Checkout code for Trivy scan
        working-directory: src/product-catalog
        run: |
          trivy fs . \
            --severity HIGH,CRITICAL \
            --format table \
            --output trivy-report.txt \
            --no-progress

      - name: Upload Trivy report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-catalog-report
          path: src/product-catalog/trivy-report.txt


      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up Buildx builder
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build Docker image
        run: |
          docker build -t product-catalog:1.0 src/product-catalog
      
      - name: Trivy Docker Image Scan
        run: |
          trivy image product-catalog:1.0 \
            --severity HIGH,CRITICAL \
            --format table \
            --output trivy-docker-report.txt \
            --no-progress
      
      - name: Upload Trivy Docker Image report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: trivy-catalog-docker-report
          path: trivy-docker-report.txt

      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image to Docker Hub
        run: |
          docker tag product-catalog:1.0 ${{ secrets.DOCKER_HUB_USERNAME }}/product-catalog:1.0
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/product-catalog:1.0
